/* General */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

.centered-container {
    width: 80%;
    max-width: 1500px;
    margin: 0 auto;
}

.flx {
    display: flex;
}




/* Header */

header {
    background: #FF6900;
    position: fixed;
    width: 100%;
    z-index: 2;
    box-shadow: 0 1px 10px 1px grey;
}

nav {
    justify-content: space-between;
    align-items: center;
    padding: 15px 0 10px;
}

nav div {
    width: 33%;
}

nav a {
    text-decoration: none;
    font-weight: 600;
}

nav a:hover,  nav i:hover {
    color: black;
    cursor: pointer;
}

.logo {
    text-align: center;
}

nav img {
    width: 150px;
}

.menu {
    text-align: right;
}

nav i {
    font-size: 20px;
}

nav a, i {
    color: white;
    padding: 5px;
}




/* Main */

main {
    width: 80%;
    padding-top: 120px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    width: 30%;
    margin-bottom: 50px;
    position: relative;
}

.img-container {
    position: relative;
}

.label-container {
    position: absolute;
    bottom: 50px;
    z-index: 2;
}

.card img {
    width: 100%;
}

.primary-img{
    position: absolute;
    z-index: 1;
}

.hovered-img {
    position: relative;
}

.primary-img:hover {
    cursor: pointer;
    display: none;
}

.label {
    display: inline-block;
    color: white;
    padding: 3px 5px;
}

.sale {
    background: red;
}

.eco {
    background: green;
}

.favourite {
    display: inline-block;
    font-size: 40px;
    padding: 5px 15px;
    text-align: center;
    background: white;
    color: black;
    position: absolute;
    right: 0;
    top: 20px;
    z-index: 1;
}

.favourite:hover {
    color: red;
    cursor: pointer;
}

.product-info {
    line-height: 25px;
}

.new-price {
    color: red;
    font-weight: bold;
}

.price {
    color: #13191F;
    text-decoration: line-through;
    font-weight: normal;
}




/* Footer */

footer {
    background: #1A1A1A;
    color: white;
}

footer > div {
    justify-content: space-between;
    padding: 30px;
}

footer a {
    display: inline-block;
    text-decoration: none;
    color: white;
    margin: 20px 5px;
}

footer i {
    display: inline-block;
    font-size: 24px;
    margin: 20px 3px;
}

footer a:hover {
    text-decoration: underline;
}

footer a:hover, footer i:hover {
    color: #FF6900;
    cursor: pointer;
}